   *
{
font-family:calibri;

}
body
{
	 background-image: url('img45.jpg');
}
.ef2:hover
{
	color:rgba(255,255,255,.3);
}
.ef:hover
{
	text-shadow:4px 4px 4px black;
}


.sec1{
color:white;
}
.sec2{
box-shadow:2px 2px 2px 3px white;
background-color:rgba(192,192,192,.7);
border:3px ridge black;
width:60%;
padding:20px;
height:600px;


}
.f1 tr{
font-size:25px;
padding:50px;
height:70px;
}
.f1 tr span {
	font-size:17px;
}

